/* Enter your custom styles here */
.css1 { color: #5899DA;}
.css2 { color: #E8743B;}
.css3 { color: #19A979;}
.css4 { color: #ED4A7B;}
.css5 { color: #945ECF;}
.css6 { color: #13A4B4;}
.css7 { color: #525DF4;}
.css8 { color: #BF399E;}